body{
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #1F2933;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
h1{
    color: white;
}
span{
    color: #4CD964;
}
button{
    background-color: #4CD964;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
}
p{
    color: white;
    margin-bottom: 40px;
}
.pass{
    display: flex;
    gap: 10px;
    justify-content: center;
}
#reso , #rest{
    background-color: #334558;
    padding: 5px 10px;
}
.em{
    margin-top: 10px;
    width: 100%;
    border: 2px solid rgb(101, 103, 101);
}