body {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #a2d2ff;
}

#profile {
    border-radius: 50%;
    width: 150px;
    border: 4px solid #EFB0C9;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#bday-date {
    background-color: #EFB0C9;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    align-self: center;
}


#bday-age {
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: inline-block;
    align-self: center;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 0px 0px 1px black;
}


.gift-section {
    margin-left: 109px;
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0px;
}


.gift-img {
    width: 512px;
    height: 512px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift.jpeg");
    background-size: cover;
    transition: transform 0.3s ease;
}

.gift-img:hover {
    background-image: url("hover.gif"); 
    background-size: cover;
    transform: scale(1.05);
}
